@{
    string active = string.Empty;
    if (TempData["Active"] != null)
    {
        active = TempData["Active"].ToString();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap core CSS -->
    @* <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> *@
    <link href="~/node_modules/theme/united/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/node_modules/theme/simple-sidebar.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", false)
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Job Tracking App - Admin</div>
        <div class="list-group list-group-flush">
            <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action @(active == "Home" ? "active" : null)">Anasayfa</a>
            <a asp-action="Index" asp-controller="Task" class="list-group-item list-group-item-action @(active == "Task" ? "active" : null)">Görev İşlemleri</a>
            <a asp-action="Index" asp-controller="Priority" class="list-group-item list-group-item-action @(active == "Priority" ? "active" : null)">Aciliyet İşlemleri</a>
            <a href="#" class="list-group-item list-group-item-action">Events</a>
            <a href="#" class="list-group-item list-group-item-action">Profile</a>
            <a href="#" class="list-group-item list-group-item-action">Status</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Menüyü Ufalt</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Bootstrap core JavaScript -->
<script src="~/node_modules/jquery/dist/jquery.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
@await  RenderSectionAsync("Scripts", false)
</body>
</html>